<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Angular Router</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/usergrid">Usergrid</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/quizgrid">Quizgrid</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/moviesGrid">Offline Movies</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/todo">Todo</a></li>
    </ul>
  </div>
</nav>
<hr/>
<router-outlet></router-outlet>
